@font-face {
	font-family: 'mont-black';
	src: url("../assets/fonts/Roboto-BlackItalic.ttf") format("truetype");
}
@font-face {
	font-family: 'sans-reg';
	src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}


:root {
  --header-footer-bg-color: #363940;
  --default-text-color: #e2e2e2;
  --h1-font-size: 2em;
  --bs-gutter-x: 1.5rem;
}

/*
.wrapper {
  width: 100%;
}
*/
body {
  background-color: var(--default-text-color);
}

header {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, var(--default-text-color) 46.4%, var(--header-footer-bg-color) 46.4%);

  border-bottom: 1px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, var(--default-text-color), #38495a, var(--default-text-color));
}


.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 calc((100% - 1920px) / 2 + 260px) 0 calc((100% - 1920px) / 2 + 260px);
  padding: 15px 50px 15px 50px;
  align-items: center;
}



h1 {
  font-size: var(--h1-font-size);
  color: var(--default-text-color);
  text-transform: uppercase;
  font-family: 'mont-black';
}

.nav {
  display: flex;
	flex-wrap: wrap;
}

.nav li {
  padding: 0 30px 0 30px;
  text-align: center;
}

.nav li:last-child {
  padding: 0 0 0 30px;
  text-align: center;
}

.nav li a{
  color: var(--default-text-color);
  font-family: 'sans-reg';
}

.nav li p {
  margin-top: 10px;
}

.d1 {
  display: flex;
  flex-direction: row;
  height: 40px;
}

.d1 input {
  width: 200px;
  height: 100%;
  padding-left: 10px;
  border: 1px solid var(--header-footer-bg-color);
  border-radius: 5px 0 0 5px;
  outline: none;
  color: var(--header-footer-bg-color);
  font-family: 'sans-reg';
}

.d1 button {
  border: none;
  margin-left: -5px;
  width: 35px;
  height: 100%;
  background: var(--header-footer-bg-color);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.d1 button:before {
  content: "S";
  font-size: 16px;
  color: #F9F0DA;
}

.login-container {
  display: flex;
  flex-direction: row;
  height: 40px;
}

.login-container button {
  font-family: 'sans-reg';
  height: 100%;
  width: 70px;
  border-radius: 5px;
  padding-bottom: 2px;
}

.login-container button:last-child {
  margin-left: 15px;
  background-color: #0b5ed7;
  color: #FFFFFF;
}

.login-container button:last-child:focus {
  border: 5px solid #98c1fe;
}

/*
.logo {
  height: 90px;
}
*/
