@font-face {
	font-family: 'sans-black';
	src: url("../assets/fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

main {
  background: var(--default-text-color);
}

.main__content {
  margin: 0 calc((100% - 1920px) / 2 + 260px) 0 calc((100% - 1920px) / 2 + 260px);
  padding: 100px 50px 100px 50px;
  align-items: center;
}

h4 {
  font-size: 5em;
  font-family: 'sans-black';
  color: var(--header-footer-bg-color);
  margin-bottom: 100px;
  text-transform: uppercase;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;

  border-top: 1px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, var(--default-text-color), #38495a, var(--default-text-color));
}

.main-info {
  background-color: var(--default-text-frame-color);
  width: 400px;
  border-radius: 10px;
  padding: 40px;
  font-family: 'sans-reg';
  margin: 100px 10px 0 10px;
}

.main-info p {
  line-height: 1.5em;;
}

h5 {
  text-align: left;
  font-size: var(--h3-font-size);
  color: var(--header-footer-bg-color);
  font-family: 'mont-black';
  margin-bottom: 15px;
}

.publication {
  background-color: var(--default-text-frame-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 40px;
  font-family: 'sans-reg';
  margin: 100px 10px 0 10px;
  text-align: justify;
}

.publication img {
  height: 300px;
  margin: 0 auto 40px auto;
}

.publication-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top: 1px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, var(--default-text-color), #38495a, var(--default-text-color));
}


.chooser{

  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  flex-direction: row;
}

.tab {
  font-family: 'mont-black';
  text-transform: uppercase;
  padding: 20px;
  background-color: var(--default-text-frame-color);
}

.tab:focus {
  background-color: #FFFFFF;
  border-left: 5px solid var(--header-footer-bg-color);
  margin-right: -5px;
}

.information-frame {
  width: 100%;
  height: 600px;
  background-color: #FFFFFF;
}