@font-face {
	font-family: 'sans-black';
	src: url("../assets/fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

main {
  background: var(--default-text-color);
}

.main__content {
  margin: 0 calc((100% - 1920px) / 2 + 260px) 0 calc((100% - 1920px) / 2 + 260px);
  padding: 100px 50px 100px 50px;
  align-items: center;
}

h4 {
  font-size: 5em;
  font-family: 'sans-black';
  color: var(--header-footer-bg-color);
  margin-bottom: 100px;
  text-transform: uppercase;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.main-info {
  background-color: var(--default-text-frame-color);
  width: 400px;
  border-radius: 10px;
  padding: 40px;
  font-family: 'sans-reg';
  margin: 40px 10px 0 10px;
}

.main-info p {
  line-height: 1.5em;;
}

h5 {
  text-align: left;
  font-size: var(--h3-font-size);
  color: var(--header-footer-bg-color);
  font-family: 'mont-black';
  margin-bottom: 15px;
}
